<h3> <div class="sizer">Put your new contact here, we want to know everything about them <strike>then sell that info to advertisers</strike> </div></h3>

  <h1>Create new Contact</h1>

<form action='/contacts' method='post'>
  <input type='text' name='first_name'>
  <input type='text' name='last_name'>
  <input type='text' name='email'>
  <input type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>
